body {
  font-family: "Times New Roman", Times, serif;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  border: 5px solid black;
  overflow: auto;
  background: white;
  padding: 15px;
  height: 70vh;
  width: 70%;
}

.contact-container {
  display: flex;
  justify-content: stretch;
  margin: 1em auto;
  border-bottom: 2.5px solid grey;
}
.contact-container img {
  border-radius: 50%;
  border: 5px solid black ;
  margin: 3em;
  width: auto;
  height: auto;
}

.text-info {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
