.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contactSection {
  border-bottom: 2px solid pink;
}

.contactList {
  border: 4px solid rgb(235, 147, 162);
  height:700px;
  width:400px;
  overflow-y:auto;
  margin: 0 auto;
}

.left {
  float: left; 
  border-radius: 4rem; 
  border: 3px solid;
}

.contactImg {
  width: 70px; 
  height: 70px;
  margin-left: 20px;
}

p {
  margin-right: 30px;
}