.App {
  text-align: center;
}
.wrapper button {
  background-color: #424242;
  color: white;
  padding: 10px 80px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.wrapper {
  text-align: center;
}
.contact-div {
  border: 1px solid #333333;
  margin: auto;
  width: 50%;
  height: 500px;

  margin-bottom: 280px;
  overflow: auto;
}